<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="ExtDatabase" value="Server=WINDOWS7-PC\SQLEXPRESS;Database=DB_INVENTORY_TMP;UId=sa;Pwd=jhotha;" />-->
      <!--<add key="ExtDatabase" value="Data Source=JWIN-PC\SQLEXPRESS;Initial Catalog=DB_INVENTORY_TMP;Persist Security Info=False;User ID=sa;Password=jhotha;" />-->
    <!--<add key="ExtDatabase" value="Data Source=WINDOWS7-PC\SQLEXPRESS;Initial Catalog=DB_INVENTORY_TMP;User ID=sa;Password=jhotha;"  />
    <add key="MainDatabase" value="Server=WINDOWS7-PC\SQLEXPRESS;Database=DB_INVENTORY;UId=sa;Pwd=jhotha;" />-->
    <!--<add key="ExtDatabase" value="Data Source=WINDOWS7-PC\SQLEXPRESS;Initial Catalog=DB_INVENTORY_TMP;User ID=sa;Password=jhotha;"  />-->
    <add key="Database" value="Server=PC_SVCTY6856\SQLEXPRESS;Database=DB_INVENTORY;Integrated Security=True;" />

    <!--<add key="Database" value="Server=PC_SVCTY6856\SQLEXPRESS;Database=DB_INVENTORY;Integrated Security=True" />-->
    <!--<add key="FolderIn" value="C://FolderIn/" />-->
    <add key="ID" value="APPCHPORTAL" />
    <add key="PASSWORD" value="APPCHPORTAL12345" />
    <add key="N-CLIENTE" value="244873" />
    <add key="URL" value="https://api-beta.ingrammicro.com:443/PriceAndAvailability_v2_6_vse0" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
        <add name="ExtDatabase" connectionString="Data Source=JWIN-PC\SQLEXPRESS;Initial Catalog=DB_INVENTORY_TMP;User ID=sa;Password=jhotha;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>